@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.title {
  font-family: 'Lobster', cursive;
  text-align: center;
  color: var(--color-secondary);
  font-size: 2.4em;
  font-style: italic;
  padding: 1em 0;
}
