.footer {
  text-align: center;
  background-image: url(../../images/pexels-eneida-nieves-905847a.jpg);
  background-repeat: no-repeat;
  height: 35vh;

  &__form {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }

  &__input {
    font-size: 1em;
    padding: 0.6em;
    opacity: 0.8;
    border-radius: 10px;
    width: 40%;
    outline: none;
    border: none;
  }

  &__button {
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 0.45em 2em;
    background-color: var(--color-primary);
    color: var(--color-text);
    font-size: 120%;
    margin-left: 1em;

    &:hover {
      opacity: 0.85;
    }
  }
}
